fastapi
uvicorn
SQLAlchemy
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
celery
redis
PyJWT
requests
pytz
prometheus-fastapi-instrumentator
prometheus-client
flower
httpx
structlog==24.1.0
pywebpush==1.14.0
python-multipart